# global

# file
try.py
*.pth
*.pkl

# folder
.vscode/
__pycache__/

# local



# special
data/*
thirdparty/*
material/*
!.keep
!material/readme_pic
!material/presentation.pptx

