# global

# file
try.py
*.pth
*.pkl

# folder

# global

.vscode/
__pycache__/
ckpt/

# local



# special
data/*
thirdparty/*
material/*
!.keep
!material/readme_pic
!material/presentation.pptx

